body {
    font-family: Sans-serif;
    color: #333;
}

h1 {
    text-align: center;
}

.erro {
    color: #F44;
}

fieldset {
    border: 3px double #333;
    color: #000;
    margin: 10px 0 0 0;
}

label {
    display: block;
    margin: 10px 0 0 0;
}

input[type=text],
textarea {
    width: 100%;
    border: 1px solid #333;
    padding: 3px;
    border-radius: 5px;
}

input[type=submit] {
    float: right;
    clear: both;
}

table {
    width: 100%;
}

table th {
    background-color: #EEE;
    font-size: 18px;
}

table td {
    border-bottom: 1px solid #333;
    color: #000;
}
